### all of files are in home directory

In [3]:
# modules we'll use
!pip install pandas
!pip install np

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2018.3)
Requirement already satisfied: numpy>=1.15.4 in ./.local/lib/python3.6/site-packages (from pandas) (1.19.3)
Requirement already satisfied: python-dateutil>=2.7.3 in ./.local/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas) (1.11.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: np in ./.local/lib/python3.6/site-packages (1.0.2)

In [4]:
import pandas as pd
import numpy as np

# read in all our data
data = pd.read_csv("./training_bitmap.csv")

# set seed for reproducibility
np.random.seed(0)

In [5]:
data

,Unnamed: 0,sbytes,sloss,sttl,trans_depth,swin,dwin,spkts,dpkts,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,label
0,0,0,0,0,0,1,1,0,1,0,0,0,0
1,1,0,0,0,0,1,1,0,1,0,0,0,0
2,2,0,0,0,0,1,1,0,1,0,0,0,0
3,3,0,0,0,0,1,1,0,1,0,0,0,0
4,4,0,0,0,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,82327,0,0,0,0,1,1,0,1,0,0,0,0
82328,82328,0,0,0,0,1,1,0,0,0,0,0,0
82329,82329,0,0,0,0,1,1,0,1,0,0,0,0
82330,82330,0,0,0,0,1,1,0,1,0,0,0,0
82331,82331,0,0,0,0,1,1,0,1,0,0,0,0

In [6]:
#결측치 확인하기 -> 없음
data.isnull().sum()

Unnamed: 0          0
sbytes              0
sloss               0
sttl                0
trans_depth         0
swin                0
dwin                0
spkts               0
dpkts               0
ct_src_dport_ltm    0
ct_dst_sport_ltm    0
ct_dst_src_ltm      0
label               0
dtype: int64

In [7]:
#중복 데이터 확인 -> 없음
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
82327    False
82328    False
82329    False
82330    False
82331    False
Length: 82332, dtype: bool

In [8]:
#필요 없는거 버리기
X = data.drop(['Unnamed: 0', 'label'], axis=1)

#label만 y로 가져오기
y = data['label']

In [9]:
#test dataset 가져오기
filename = './testing_bitmap.csv'
test = pd.read_csv(filename)

#필요 없는거 버리기
X_test = test.drop(['Unnamed: 0', 'label'], axis=1)

#label만 y로 가져오기
y_test = test['label']

### Logistic Regression

In [14]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp36-cp36m-manylinux2010_x86_64.whl (22.2 MB)
     |████████████████████████████████| 22.2 MB 9.8 MB/s
Requirement already satisfied: numpy>=1.13.3 in ./.local/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.19.3)
Collecting scipy>=0.19.1
  Downloading scipy-1.5.4-cp36-cp36m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 10.8 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 11.5 MB/s
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=2397 sha256=3a3c2e353efb183f4d78be98278ff8401c06ec41037512ad32e5cc625efa8637
  Stored in directory: /home/client2/.cache/pip/wheels/23/9d/42/5ec745cbbb17517000a53cecc49d6a865450d1f5cb16dc8a9c
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-0.24.2 scipy-1.5.4 sklearn-0.0 threadpoolctl-3.1.0

In [15]:
from sklearn import datasets
import numpy as np
import pandas as pd
import sklearn
from sklearn.linear_model import LogisticRegression

In [17]:
#모델 만들기
model = LogisticRegression(class_weight='balanced')

param_grid = {'C': [1, 10, 100, 1000]}
clf = sklearn.model_selection.GridSearchCV(model, param_grid)

# 모델 학습
model = model.fit(X, y)

/home/client2/.local/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [18]:
# 학습시킨 모델에 test
predictions = model.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

print("accuracy: ", accuracy_score(y_test, predictions))
print("recall: ", recall_score(y_test, predictions, zero_division=1))
print("precision: ", precision_score(y_test, predictions, zero_division=1))
print("f1 score: " ,f1_score(y_test, predictions,  average='weighted'))

accuracy:  0.7271545160572827
recall:  0.6554076134773464
precision:  0.9209150634610404
f1 score:  0.7362367982919589

In [20]:
from sklearn.metrics import confusion_matrix

cf = confusion_matrix(y_test, predictions)

print(cf)

[[49283  6717]
 [41124 78217]]